name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Build Docker image
        run: |
          docker build -t next-app:latest .

      - name: Save Docker image as tar
        run: |
          docker save next-app:latest -o next-app.tar

      - name: Upload Docker image and docker-compose.yml to EC2
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          source: |
            next-app.tar
            docker-compose.yml
          target: /home/${{ secrets.EC2_USER }}/domain_scan
          overwrite: true
          rm: false
          timeout: 30s
          command_timeout: 10m
          use_insecure_cipher: false

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script:
